// ==================================================
// Button Component
// ==================================================

.btn {
  display: inline-block;
  padding: em($form-pv $form-ph);
  border: 1px solid $c-primary;
  border-radius: em(4px);
  font-size: rem($fs);
  color: $c-primary;
  text-align: center;
  outline: 0;
  transition: all $t-fast;
  cursor: pointer;

  &__group {
    .btn {
      margin-right: rem($l-spacing-200);
      margin-bottom: rem($l-spacing-100);
    }
  }

  &--primary {
    background-color: $c-primary;
    color: $c-white-400;
  }

  &:disabled {
    border-color: $c-gray-400;
    background-color: $c-gray-400;
    color: $c-white-400;
    cursor: not-allowed;

    &:hover {
      background-color: $c-gray-400;
    }
  }

  // Fill transition

  &--primary,
  &--secondary {
    background-size: 200%;
    background-position: top;

    &:hover,
    &:focus {
      background-position: bottom;
      transition: background $t-fast;
    }
  }

  &--primary {
      background-image: linear-gradient(to bottom, $c-primary 50%, darken($c-primary, 5%) 50%);


    &:hover,
    &:focus {
      border-color: darken($c-primary, 5%);
    }
  }

  &--secondary {
    background-image: linear-gradient(to bottom, $c-white-400 50%, $c-primary 50%);

    &:hover,
    &:focus {
      color: $c-white-400;
    }
  }
}
