// ==================================================
// Placeholders
// ==================================================

%clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

%centerX {
  left: 50%;
  transform: translateX(-50%);
}

%centerY {
  top: 50%;
  transform: translateY(-50%);
}

%centerXY {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%hide-text {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}
